<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> {{ title }}! </h1>
</div>

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>
      <li [class.is-active]="tab == '01'" (click)="tab = '01'" ><a><strong><fa-icon  [icon]="['fas', 'stopwatch']" size="md"></fa-icon>01 -</strong> {{ time01 }}</a></li>
      <li [class.is-active]="tab == '02'" (click)="tab = '02'" ><a><strong><fa-icon  [icon]="['fas', 'stopwatch']" size="md"></fa-icon>02 -</strong> {{ time02 }}</a></li>
      <li [class.is-active]="tab == '03'" (click)="tab = '03'" ><a><strong><fa-icon  [icon]="['fas', 'question']" size="md"></fa-icon></strong></a></li>
    </ul>
  </div>

<div class="columns is-mobile is-centered">
  <div [class.is-invisible]="tab != '01'" class="column position-fixed has-background-grey-lighter">
    <div class="content">
      <app-stopwatch (headerTab)="time01 = $event" > Cronometro #1 </app-stopwatch>
  </div>
  </div>

  <div [class.is-invisible]="tab != '02'" class="column position-fixed has-background-grey-lighter">
    <div class="content">
      <app-stopwatch (headerTab)="time02 = $event" > Cronometro #2 </app-stopwatch>
    </div>
  </div>
  
  <div [class.is-invisible]="tab != '03'" class="column position-fixed has-background-grey-lighter">
    <div class="content">
        <app-question > Tutorial </app-question>
    </div>
  </div>
</div>
