<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> {{ title }}! </h1>
</div>

<div class="tabs is-toggle is-fullwidth is-large">
    <ul>
      <li [class.is-active]="tab == '01'" (click)="tab = '01'" ><a><strong>Chron 01 -</strong> {{ time01 }}</a></li>
      <li [class.is-active]="tab == '02'" (click)="tab = '02'" ><a><strong>Chron 02 -</strong> {{ time02 }}</a></li>
    </ul>
  </div>

<div [class.is-invisible]="tab != '01'" class="tile is-ancestor position-fixed is-fullwidth has-background-grey-lighter " >
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
      <div class="content">
          <app-stopwatch (headerTab)="time01 = $event" > Cronometro #1 </app-stopwatch>
      </div>
    </article>
  </div>
</div>

<div [class.is-invisible]="tab != '02'" class="tile is-ancestor position-fixed is-fullwidth has-background-grey-lighter" >
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
      <div class="content">
          <app-stopwatch (headerTab)="time02 = $event" > Cronometro #2 </app-stopwatch>
      </div>
    </article>
  </div>
</div>